body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 10px 10%;
    /* max-width: 400px; */
    width: 80%;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
}
select {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: smaller;
}
select:required:invalid {
    color: #666;
  }
  option[value=""][disabled] {
    /* display: none; */
    color: #ccc;
  }
  option {
    color: #000;
  }

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
}

#qrcode {
    margin-top: 20px;
}

h1
{
    text-align: center;
    background-color: #4CAF50;
    padding: 5px;
    text-shadow: 3px 4px 5px #333;
    box-shadow: 3px 4px 5px #444;
}